{% load static %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'lms/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'lms/assets/css/Montserrat.css' %}">
    <link rel="stylesheet" href="{% static 'lms/assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'lms/assets/css/bs-theme-overrides.css' %}">
    <link rel="stylesheet" href="{% static 'lms/assets/css/Community-ChatComments.css' %}">
    <link rel="stylesheet" href="{% static 'lms/assets/css/Navbar-Centered-Links-icons.css' %}">
    <link rel="stylesheet" href="{% static 'lms/assets/css/Search-Input-responsive.css' %}">
    <link rel="stylesheet" href="{% static 'lms/assets/css/Team-Horizontal-images.css' %}">
</head>

<body>
    <div class="col">
        <!-- Start: Navbar Centered Links -->
        <nav class="navbar navbar-light navbar-expand-md py-3">
            <div class="container"><a class="navbar-brand d-flex align-items-center" href="{% url 'all_courses' %}"><span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon" style="padding-top: 0px;padding-left: 0px;padding-right: 0px;padding-bottom: 0px;margin-top: 0px;width: 40px;height: 40px;"><img src="{% static 'lms/assets/img/easter-bunny-white.png' %}" width="27" height="27"></span><span>BunnyLearning Hub</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-3"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button><!-- Start: Search Input (responsive) -->
                <div class="float-start float-md-end mt-5 mt-md-0 search-area"><i class="fas fa-search float-start search-icon"></i><input class="float-start float-sm-end custom-search-input" type="search" placeholder="Type to filter by address"></div><!-- End: Search Input (responsive) -->
                <div class="collapse navbar-collapse" id="navcol-3">
                    <ul class="navbar-nav mx-auto">
                        {% url 'assignments' as assignments_url %}
                        <li class="nav-item "><a class="nav-link {% if request.path == assignments_url %} active {% endif %}" href="{{ assignments_url }}">Assignments</a></li>
                        {% url 'my_courses' as my_courses_url %}
                        <li class="nav-item"><a class="nav-link {% if request.path == my_courses_url %} active {% endif %}" href="{{ my_courses_url }}">Courses</a></li>
                        </ul>
                    {% url 'profile_edit' as profile_edit_url %}
                    <li style="margin-left: 1px;padding-right: 10px;padding-left: 10px;margin-right: 0px; list-style-type: none;" class="nav-item1">
                        <a class="nav-link {% if request.path == profile_edit_url %} active {% endif %}" href="{{ profile_edit_url }}">{{ user.first_name }}</a>
                    </li>
                </div>
                <a href="{{ profile_edit_url }}">
                    {% if profile.avatar %}
                        <img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="{{ profile.avatar.url }}">
                    {% else %}
                        <img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="{% static 'lms/assets/img/photo_2023-06-29_15-06-06.jpg' %}">
                    {% endif %}
                </a>
            </div>
        </nav><!-- End: Navbar Centered Links -->
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <script src="{% static 'lms/assets/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>