{% extends "lms/base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card"><div class="card-body" style="border-width: 1px;background: #e1d6c9;">
    <div class="dropdown"><button class="btn btn-primary dropdown-toggle text-start" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="background: rgb(225, 214, 201);color: var(--bs-primary);width: 100%;">deadline</button>
        <div class="dropdown-menu" style="width: 100%;"><a class="dropdown-item" href="#">burning from above</a><a class="dropdown-item" href="#">non-burning from above</a></div>
    </div>
    <div class="dropdown" style="margin-top: 10px;"><button class="btn btn-primary dropdown-toggle text-start" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="background: rgb(225, 214, 201);color: var(--bs-primary);width: 100%;">status</button>
        <div class="dropdown-menu" style="width: 100%;"><a class="dropdown-item" href="#">not submitted</a><a class="dropdown-item" href="#">submitted</a><a class="dropdown-item" href="#">checked</a></div>
    </div>
    <div class="dropdown" style="margin-top: 10px;"><button class="btn btn-primary dropdown-toggle text-start" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="background: rgb(225, 214, 201);color: var(--bs-primary);width: 100%;">course</button>
        <div class="dropdown-menu" style="width: 100%;"><a class="dropdown-item" href="#">Practical machine Learning</a></div>
    </div>
</div></div>
            </div>
            <div class="col-md-8">
                {% for i in assignments %}
                <div class="card" style="border-style: none;">
                    <div class="card-body" style="border: 1px solid #986155;border-radius: 6px;margin-top: 0px;">
                        <h1 style="font-size: 20px;">{{ i.homework }}</h1>
                        <h6 class="text-muted card-subtitle mb-2">{{ i.module }}</h6>
                        <p class="card-text" style="margin-bottom: 0px;">Status: {{ i.status }}</p>
                        <p class="card-text" style="margin-bottom: 0px;">{{ i.homework.course }}</p>
                        <p>Deadline: {{ i.homework.deadline }}</p><a class="btn btn-primary" href="#" style="margin-left: auto;">Open</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}